@font-face {
    font-family: 'FiraMono';
    src: url('../assets/FiraMonoNerdFontMono-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.item {
    font-family: Roboto;
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    background-color: rgba(88, 91, 112, 0.5699999928474426);
    border-radius: 3px;
    border: 1px solid rgba(180, 190, 254, 0.5699999928474426);
    align-items: center;
}

.itemName {
    margin-left: 3px;
}

.date {
    margin-left: auto;
}

.item-rename {
    margin-left: 10px;
    margin-right: 3px;
    font-family: 'FiraMono', roboto;
    font-size: 15px;
}
